.login-backgroud {
    background: linear-gradient(-45deg, #a5f3fc, #B9F3E4, #818cf8);
    height    : 100vh;

    .login-container {
        max-width       : 325px;
        height          : 450px;
        border-radius   : 20px;
        padding         : 10px;
        background-color: white;
        position        : absolute;
        top             : 0;
        right           : 0;
        left            : 0;
        bottom          : 0;
        margin          : auto;
    }

    .login-content {
        padding: 10px;

        .text-login {
            text-align : center;
            font-weight: 600;
            font-size  : 24px;
            padding-top: 10px;
        }

        .login-input {
            margin: 10px 0;

            input {
                border-radius: 10px;
            }

            .custom-password {
                position: relative;

                i {
                    position: absolute;
                    right   : 8px;
                    top     : 10px
                }
            }

        }

        .btn-login {
            width        : 100%;
            margin       : 10px 0;
            height       : 30px;
            border-radius: 20px;
            border       : none 0;
            background   : linear-gradient(-45deg, #a5f3fc, #B9F3E4, #818cf8);
        }

        .forgot-password {
            font-size: 10px;
        }

        .social-login {
            display        : flex;
            margin-top     : 16px;
            justify-content: center;


            i {
                font-size: 35px;
            }

            i:first-child {
                color           : rgb(179, 11, 11);
                background-color: white;
                border-radius   : 50%;
                margin-right    : 16px;
            }

            i:last-child {
                color        : #4267B2;
                border-radius: 50%;
            }

        }
    }
}